<div class="wrapper__lessMargin">
  <div class="options__wrapper">
    <ul class="options__list">
      <li><a href="/admin/products">管理品項</a></li>
      <li><a href="/admin/prizes">管理抽獎</a></li>
      <li><a href="/admin/questions">管理問答</a></li>
    </ul>
  </div>
</div>