<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">抽獎囉</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <% if (username) { %>
        <a class="nav-link" href="/admin">管理後臺</a>
        <a class="nav-link" href="/logout">登出</a>
      <% } else { %>
      <a class="nav-link" href="/signup">註冊</a>
      <a class="nav-link" href="/login">登入</a>
      <% } %>
    </form>
  </div>
</nav>