<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head')%>
  <script src="../js/admin_prizes.js"></script>
</head>

<body>
  <%- include('../template/navbar')%>

  <%- include('../template/admin_navbar')%>

  <%- include('../template/prizes')%>

</body>

</html>