<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../template/head')%>
  <script src="../js/admin_product.js"></script>
</head>

<body>
  <%- include('../template/navbar')%>

  <%- include('../template/admin_navbar')%>

  <%- include('../template/products')%>

</body>

</html>