<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('template/head')%>
</head>

<body>
  <%- include('template/navbar')%>

  <div class="login-wrapper">
    <h2>SignUp</h2>
    <form action="/signUp" method="POST">
      <div class="input__wrapper">
        <div class="input__label">USERNAME</div>
        <input class="input__field" type="text" name="userName" />
      </div>
  
      <div class="input__wrapper">
        <div class="input__label">PASSWORD</div>
        <input class="input__field" type="password" name="password" />
      </div>
      <input type='submit' value="註冊" />
    </form>
</body>

</html>