* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:"微軟正黑體";
}

.greeting {
  text-align: center;
}

.warning {
  background-color: yellow;
  font-weight: bolder;
  text-align: center;
}

.user__operating {
  max-width: 500px;
  height: 300px;
  box-shadow: 0px 2px 4px rgb(180, 180, 180);
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__container {
  margin-bottom: 20px;
}

.btn__submit {
  font-family: "微軟正黑體";
  font-weight: bold;
  color: rgb(80, 204, 117);
  font-size: 26px;
  margin-top: 20px;
  width: 100px;
  height: 50px;
  background-color: #fff;
  border: rgb(206, 206, 206) 2px solid;
  border-radius: 2px;
  cursor: pointer;
}

.comments {
  max-width: 700px;
  margin: 20px auto;
  border-radius: 5px;
}

.comment__body {
  border: 1px solid rgb(231, 231, 231);
  height: 200px;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgb(180, 180, 180);
}

.user__wrapper {
  display: flex;
}

.user__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(173, 173, 255);
}

.user__info {
  margin-left: 10px;
}

.user__nickname {
  margin-bottom: 5px;
}